@import 'variables.scss';

#section-1{
  max-width: 100%;
  nav{
    .nav-content{
      display: flex;
      align-items: center;
      padding: 0 5rem;
      justify-content: space-between;
      background-color: $White;
      text-transform: capitalize;
      z-index: 8;

      .links{
        display: flex;
        align-items: center;
        list-style: none;

        .margin{
          margin-left: 2rem;
        }
        li{
          padding: 2rem 0;
          a{
            color: $Grayish-Blue;
          }
          
        }
      }
      
    }
    
  }
  .background{
    position: absolute;
    top: 0;
    right: 0;
    
  }
  #invite{
    color: $White;
    border-radius: 2rem;
    padding: 1rem 2rem;
    background-image: linear-gradient(to right, $Lime-Green, $Bright-Cyan);
  }
  // hero section

  .hero-wrapper{
  
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: $Very-Light-Gray;
  }

    .hero-img{
      height: 100vh;
      max-height: 100%;
      background-image: url(../images/image-mockups.png),url(../images/backgrounds/bg-intro-desktop.svg);
      background-position: 100px 85% ,25% -150px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .hero-header{
      margin: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1{
        font-size: 3.052rem;
        font-weight: 300;
        margin-bottom: 1.5rem;
      }
      p{
        margin-bottom: 1.5rem;
        line-height: 1.4rem;
        color: $Grayish-Blue;
      }
      #invite{
        width: fit-content;
      }
    }
  }